extends ../layout


block content
  .page-header
    h3  All Projects: Enter name of one to go to its page

  ul    
    for project in projects
      li= project.title
  
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)

    .form-group
      label.col-sm-3.control-label(for='chosen_project') Project to 'click on'
      .col-sm-7
        textarea.form-control(type='chosen_project', name='chosen_project', id='chosen_project', placeholder='Project Chosen', rows = '1')
    
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Choose name

