extends layout

block content
  div(id="back") 
    img(id="background",src="css/images/ggb.jpg")
    div(id="maintext")
      div(id="logo") 
        img(id="bulb",src="css/images/bulb-goldu.png")
      div(id="title") Let your ideas shine
      div(id="subtitle") A platform for students to create
    #buttonbar
      .buttons
        a(href="http://bulb.herokuapp.com/post") Have an idea
      .buttons
        a(href="http://bulb.herokuapp.com/account/profile") Want an idea
      .buttons
        a(href="http://bulb.herokuapp.com/projpostings") Browse
  hr
  .row
    .col-sm-6
      p
        a.btn.btn-default(href='#', role='button') View details »