extends layout

block content
  div(id="back") 
    img(id="background",src="css/images/ggb.jpg")
    div(id="maintext")
      div(id="logo") 
        img(id="bulb",src="css/images/bulb-goldu.png")
      div(id="title") Let your ideas shine
      div(id="subtitle") A platform for students.
  hr
  .row
    .col-sm-6
      p
        a.btn.btn-default(href='#', role='button') View details »